body {
  text-align: center;
  font-family: Arial;
}

video, canvas {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

#resultBox {
  margin-top: 20px;
  font-size: 18px;
  color: #007b00;
  font-weight: bold;
}
